.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
    max-height: 560px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.menu-body {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 600;
    padding: 11px 16px;
    line-height: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgb(246, 246, 246);
    }
}

.header {
    position: relative;
    height: 50px;
    background-color: var(--white);
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
